<article id="{{page.handle}}" class="post hentry">
<div class="container">

	<div class="row">
	
	<div class="col-md-12">
	
	{% include 'breadcrumb' %}
	
	<h2 class="indiv-blog-title"><a href="{{article.url}}">{{ article.title }}</a></h2>
	<h3 class="indiv-blog-date"><time class="updated" datetime="{{ article.published_at | date: format: 'long' }}" pubdate>{{ article.published_at | date: format: 'long' }}</time></h3>
	
	<section class="entry-content" id="article_content">
		{{ article.content }}
		
		{% include 'blog-tags' %}
	</section>
	
	{% if blog.previous_article or blog.next_article %}
	<div id="paginate">
		{% if blog.previous_article %}
			<div class="article-previous-article">
				<a href="{{ blog.previous_article }}" class="btn btn-default">{{ 'blogs.article.previous_post' | t }}</a>
			</div>
		{% endif %}
	
		{% if blog.next_article %}
			<div class="article-next-article">
				<a href="{{ blog.next_article }}" class="btn btn-default">{{ 'blogs.article.next_post' | t }}</a>
			</div>
		{% endif %}
		<div class="clear"></div>
	</div>
	{% endif %}
	
	</div>
	
	</div>
	
	{% if settings.blog_author_info %}
	
	<div class="row">
	
	<div class="col-md-1">
		<img src="//www.gravatar.com/avatar/{{ article.user.email | remove: ' ' | strip_newlines | downcase | md5 }}" class="img-responsive" />
	</div>
	
	<div class="col-md-11">
	
		<div class="author-information custom-font">
			<h2>{{ 'blogs.article.author_title' | t }}</h2>
			<h3>
				{{ article.user.first_name }} {{ article.user.last_name }}
				{% if article.user.homepage != blank %}
				<a href="{{ article.user.homepage }}" target="_blank" class="article-user-homepage">
					<i class="fa fa-external-link"></i>
				</a>
				{% endif %}
				
			</h3>
		</div>
		<div id="blog-author-bio">
			
			{% if article.user.bio != empty %}
				<p>{{ article.user.bio }}</p>
			{% endif %}
			
			<div class="clear"></div>
		</div>
	
	</div>
	
	</div>
	
	{% endif %}
	
	
  {% if blog.comments_enabled? %}

	{% paginate article.comments by 3 %}
    {% if article.comments != blank %}
	
      <div id="comments" class="comments">

	<div class="title-bar custom-font">
		<h2>{{ 'blogs.article.comments_title' | t }}</h2>
		<div class="clear"></div>
	</div>

	<ul>
        {% comment %} Loop through approved comments: {% endcomment %}        
        {% for comment in article.comments reversed %}
          {% include 'comment-template' %}
        {% endfor %}  

        {% comment %} Show a comment that was *just* submitted {% endcomment %}
        {% if comment and comment.created_at %}
          {% include 'comment-template' %}
        {% endif %}       
	</ul>
	
	{% if paginate.pages > 1 %}
		{% include 'pagination' %}
	{% endif %}
	
	    </div> <!-- end #comments -->
	
	{% endif %}
	{% endpaginate %} 
  


    {% form article %}
    <div class="comment_form" id="comment-form">


	<div class="title-bar custom-font">
		<h2>{{ 'blogs.comments.title' | t }}</h2>
		<div class="clear"></div>
	</div>

      {% if form.posted_successfully? %}
        {% if blog.moderated? %}
          <div class="success-msg">
				{{ 'blogs.comments.moderated' | t }}
          </div>
        {% else %}
          <div class="success-msg">
          		{{ 'blogs.comments.success' | t }}
          </div>
        {% endif %}
      {% endif %}

      {% if form.errors %}
        <p class="notice error-msg">{{ 'blogs.comments.field_error' | t }}</p>
      {% endif %}

      <div class="form-group clearfix{% if form.errors contains 'author' %} has-error{% endif %}">
        <label for="comment_author">{{ 'blogs.comments.name' | t }} <strong class="req">*</strong></label>
        <input type="text" id="comment_author" name="comment[author]" size="40" value="{{form.author}}" class="text form-control {% if form.errors contains 'author' %}input-error{% endif %}" />
      </div>
      <div class="form-group clearfix{% if form.errors contains 'email' %} has-error{% endif %}">
        <label for="comment_email">{{ 'blogs.comments.email' | t }} <strong class="req">*</strong></label>
        <input type="text" id="comment_email" name="comment[email]" size="40" value="{{form.email}}" class="text form-control {% if form.errors contains 'email' %}input-error{% endif %}" />
      </div>
      <div class="form-group clearfix{% if form.errors contains 'body' %} has-error{% endif %}">
        <label for="comment_body">{{ 'blogs.comments.comment' | t }} <strong class="req">*</strong></label>
        <textarea id="comment_body" name="comment[body]" cols="40" rows="5" class="text form-control {% if form.errors contains 'body' %}input-error{% endif %}">{{form.body}}</textarea>
      </div> 

      <input type="submit" value="{{ 'blogs.comments.post' | t }}" id="comment-submit" class="btn btn-default" />

    </div> <!-- end div.comment_form -->
    {% endform %}  
  {% endif %}

</div>
	
	</div>

</div>
</article>